[submodule "backend"]
	path = backend
	url = https://github.com/lukelu520/cryptofounders-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/lukelu520/cryptofounders-frontend.git
